/* comentarios en css*/
body {
  font-family: Din;
  background-color: rgb(40, 36, 36);
  color: white;
}
nav{background-color: antiquewhite;}
header{
  width: 100%; height: 250rem;padding-top:3rem;}

h1{text-align:center; }

 .banner { overflow: hidden;
  width: 100%; height:20%; ;
}

.perfil{
  border-radius: 100%;
}

#redes {
  text-align: center;
  margin: auto;
  list-style: none;
}

.usuario {
  float: none;
  background-color: aqua;
  width: 10 rem;
  height: 10 rem;
}
