/* comentarios en css*/
.bg-black { background-color: black;padding: -47rem;}
body { background-color: black;}

.list-group-item{background-color: transparent;}
  .list-group-item :hover 
  {color: #f3e306ea!important;}
  .list-group-item:hover{ transition: 0.2s }
  .list-group-item:hover{ transform: scale(1.5); }
 

.logo2{color: transparent;}
.logo2:hover{margin-left: 2rem;background-image:#f3e306ea;}
.logo2:hover{transition: 0.2s}
.logo2:hover {transform: scale(1.5);}

section.banner{
    background-image:  url(../img/banner-01.png); 
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    ;
}

h1.intro{ padding-top: 19%; font-size: 2rem;
    text-align:center;float: none;display: block;font-family:Verdana, Geneva, Tahoma, sans-serif }

strong{font-size:3rem;}    
p{margin: 0;padding: 0;}



.perfil{position:relative;margin-left: 10rem;width: 16rem;height:auto;padding-top:10rem;;filter: drop-shadow(-2px 2px 15px #522fa4ec);box-shadow:#1e1f1d}
.fullstack{color:#f3e306ea}
.acerca{width:100%;;font-size:x-large ;padding-top:10rem;text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;color: white;}

    
    .experiencia{width:100%;;font-size:x-large ;padding-top:5rem;text-align:center;padding-bottom: 5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;color: white;}

        .estudios{width:100%;;font-size:x-large ;padding-top:1rem;text-align:center;padding-bottom: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;color: white;}          
        
                   
            .cambioColor:hover {color:#f3e306ea;}
            .cambioColor:hover{ transition: 0.2s }
            .cambioColor:hover{ transform: scale(1.5); }
             

            footer{color: #fff;}
                 
.alto{height:70vh;}      
.formulariolog{margin-top:10%;}       
.edicion{background-color: beige;float:none;margin-left:5rem;padding-bottom: 2rem;}
h3{background-color: #0b0a0a;font-size:larger;width: 100%;}
.perfilpanel{margin-bottom:10%;margin-left:-9rem;}
.admin{font-size:large;}
a{text-decoration:none;color:#fff}
a:hover{color: #f3e306ea!important;}
a:hover{ transition: 0.2s }
a:hover{ transform: scale(1.5); }
 

nav.vertical{float: left;margin-left: 2rem;}
li.vertical{display: block;margin:0;padding: 3rem;justify-content: center;display:flex;}






  /* grafico circular   
          .circular{width: 10rem;height: 10rem;border-radius: 50%;
            margin:auto;background:linear-gradient(0deg  #fff 50%,rgba(#fff,.2) 50%) ;}*/

           
